# Auth
BETTER_AUTH_SECRET="your-secret-key"
BETTER_AUTH_URL="http://localhost:3000"

# DB
DATABASE_URL="your-database"

# Google
# GOOGLE_CLIENT_ID="your-google-client-id"
# GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Resend
# RESEND_API_KEY="your-resend-api-key"
# EMAIL_SENDER_NAME="warrior"
# EMAIL_SENDER_ADDRESS="orcdev.com"

# Seed
ADMIN_NAME=
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=